:root {

   --main-clr-background:  hsl(217, 54%, 11%);
   --card-clr-background: hsl(216, 50%, 16%);
   --line-clr: hsl(215, 32%, 27%);
   --txt-header-1: hsl(0, 0%, 100%);
   --txt-header-2: hsl(215, 51%, 70%);
   --txt-header-3: hsl(178, 100%, 50%);
   

}

* {

    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* HTML Elements */

body {

    background: var(--main-clr-background);
}

footer {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height:5vh;
    color:var(--txt-header-1);
}

main {

    display: flex; ;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    border-radius: 10rem;
}

/* Classes */

.container {
    
    background: var(--card-clr-background);
    max-width: 23.50rem;
    border-radius: 1.0rem;
}

.img-item {

    width:23.50rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

.nft-coin {

    display: flex;
    color: var(--txt-header-3);
}

.nft-coin-balance {

    padding-left: 0.5rem;
}

.nft-wrapper {

    display: flex;
    justify-content: space-between;

    color: var(--txt-header-2);

    border-bottom: 1px solid var(--line-clr);
    margin:1.25rem;
    padding-bottom: 1.5rem;
}

.nft-time {

    display: flex;
}

.nft-time-left {

    padding-left: 0.5rem;
}


.txt-wrapper {

    margin: 1.25rem;
    margin-top: 0rem;
    color: var(--txt-header-1);

}

.txt-note {

    color: var(--txt-header-2);
    padding-top: 1rem;
}