* {

    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;

}


main {

    min-width: 10rem;
}

footer {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height:5vh;


}

.img-item {

    width:18rem;
}

